# Задание 1

In [156]:
import pandas as pd

horse = pd.read_csv('horse_data.csv')
horse.columns = range(0,28)
horse = horse[[0, 1, 3, 4, 5, 6, 10, 22]]

horse.columns = ['surgery', 'age', 'rectal_temp', 'pulse', 'resp_rate', 'temp_of_extremities', 'pain', 'outcome']
horse.replace('?','', inplace=True)
horse['surgery'] = pd.to_numeric(horse['surgery'])
horse['age'] = pd.to_numeric(horse['age'])
horse['rectal_temp'] = pd.to_numeric(horse['rectal_temp'])
horse['pulse'] = pd.to_numeric(horse['pulse'])
horse['resp_rate'] = pd.to_numeric(horse['resp_rate'])
horse['temp_of_extremities'] = pd.to_numeric(horse['temp_of_extremities'])
horse['pain'] = pd.to_numeric(horse['pain'])
horse['outcome'] = pd.to_numeric(horse['outcome'])

horse.head(20)

,surgery,age,rectal_temp,pulse,resp_rate,temp_of_extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
5,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
7,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
8,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
9,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
10,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0
11,1.0,1,37.2,42.0,12.0,2.0,3.0,1.0
12,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
13,1.0,1,38.2,76.0,28.0,3.0,3.0,1.0
14,1.0,1,37.6,96.0,48.0,3.0,5.0,2.0
15,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
16,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
17,1.0,1,37.6,64.0,21.0,1.0,2.0,1.0
18,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
19,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0

# Задание 2

In [14]:
"""вывод: судя по статистике, в колонках surgery, temp_of_extremities, pain и outcome выбросов нет"""
horse.describe()

,surgery,age,rectal_temp,pulse,resp_rate,temp_of_extremities,pain,outcome
count,298.000000,299.00000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [15]:
"""в колонке age выброс 9, встречается 24 раза"""
print(horse[horse['age'] == 9]['age'].count())

horse[horse['age'] == 9]

24

,surgery,age,rectal_temp,pulse,resp_rate,temp_of_extremities,pain,outcome
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
8,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
12,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
15,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
22,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
38,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
40,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
54,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
73,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
74,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
81,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
102,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
108,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
134,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
190,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
211,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
226,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
228,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
243,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
251,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
261,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
274,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
286,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0

In [40]:
horse.median()

surgery                 1.0
age                     1.0
rectal_temp            38.2
pulse                  64.0
resp_rate              24.0
temp_of_extremities     3.0
pain                    3.0
outcome                 1.0
dtype: float64

In [16]:
"""в колонке rectal_temp выбросов 14"""

q1 = horse['rectal_temp'].quantile(0.25)
q3 = horse['rectal_temp'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
outliers_rec = horse[(horse['rectal_temp'] < lower_bound) | (horse['rectal_temp'] > upper_bound)].sort_values('rectal_temp')
outliers_rec

,surgery,age,rectal_temp,pulse,resp_rate,temp_of_extremities,pain,outcome
43,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
140,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
237,2.0,1,36.1,88.0,NaN,3.0,3.0,3.0
79,1.0,1,36.4,98.0,35.0,3.0,4.0,2.0
117,1.0,1,36.5,78.0,30.0,1.0,5.0,1.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
250,2.0,1,36.6,42.0,18.0,3.0,1.0,2.0
98,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
74,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
19,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
280,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
53,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
90,2.0,1,40.3,114.0,36.0,3.0,2.0,2.0
258,1.0,1,40.8,72.0,42.0,3.0,2.0,2.0

In [17]:
"""в колонке resp_rate выбросов 17, все они значительно выше 75 процентиля, все они с высоким зачением rectal_temp"""

q1 = horse['resp_rate'].quantile(0.25)
q3 = horse['resp_rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
outliers_resp = horse[(horse['resp_rate'] < lower_bound) | (horse['resp_rate'] > upper_bound)].sort_values('resp_rate')
outliers_resp

,surgery,age,rectal_temp,pulse,resp_rate,temp_of_extremities,pain,outcome
119,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
124,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
264,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
102,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
228,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
294,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
40,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
81,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
207,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
83,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
243,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
268,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
185,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
105,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
38,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0

In [18]:
"""в колонке pulse выбросов 5, все они значительно выше 75 процентиля, все они с age = 9 и высоким зачением rectal_temp"""

q1 = horse['pulse'].quantile(0.25)
q3 = horse['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
outliers_pulse = horse[(horse['pulse'] < lower_bound) | (horse['pulse'] > upper_bound)].sort_values('pulse')
outliers_pulse

,surgery,age,rectal_temp,pulse,resp_rate,temp_of_extremities,pain,outcome
40,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
274,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
54,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0

# Задание 3

In [157]:
"""по колонке age пропусков нет, по колонке surgery и outcome по одному пропуску, в колонке pulse 24 пропуска, в остальных около 60"""

horse.count()

surgery                298
age                    299
rectal_temp            239
pulse                  275
resp_rate              241
temp_of_extremities    243
pain                   244
outcome                298
dtype: int64

In [158]:
"""Пропуск surgery заполним =1, таких значений большинство, аналогично для outcome"""

horse['surgery'].fillna(horse['surgery'].mode()[0], inplace=True)
horse['outcome'].fillna(horse['outcome'].mode()[0], inplace=True)

In [159]:
"""Есть строки, где пропуски по всем 5 колонкам кроме surgery, age и outcome, их удаление не привело бы к значительному искажению статистики по 3м другим колонкам"""

horse[(horse['temp_of_extremities'].isna()) & (horse['pain'].isna()) & (horse['rectal_temp'].isna()) & (horse['pulse'].isna()) & (horse['resp_rate'].isna())]
horse.drop(horse[(horse['temp_of_extremities'].isna()) & (horse['pain'].isna()) & (horse['rectal_temp'].isna()) & (horse['pulse'].isna()) & (horse['resp_rate'].isna())].index, inplace=True)
horse.describe()

,surgery,age,rectal_temp,pulse,resp_rate,temp_of_extremities,pain,outcome
count,291.000000,291.000000,239.000000,275.000000,241.000000,243.000000,244.000000,291.000000
mean,1.402062,1.604811,38.166527,71.934545,30.427386,2.345679,2.942623,1.553265
std,0.491159,2.118517,0.733508,28.680522,17.678256,1.046369,1.303993,0.742606
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [160]:
"""Когда pain = 2 и surgery = 1, resp_rate около 35.0, когда pain = 2 и surgery = 1, resp_rate около 24.0, заполним этими средними пропуски"""

horse[(horse['surgery'] == 1) & (horse['pain'] == 2)]['resp_rate'].median()
horse[(horse['surgery'] == 2) & (horse['pain'] == 2)]['resp_rate'].median()

horse.loc[(horse['surgery'] == 1) & (horse['pain'] == 2), ['resp_rate']] = horse[['resp_rate']].fillna(horse[(horse['surgery'] == 1) & (horse['pain'] == 2)]['resp_rate'].median(), axis=1)
horse.loc[(horse['surgery'] == 2) & (horse['pain'] == 2), ['resp_rate']] = horse[['resp_rate']].fillna(horse[(horse['surgery'] == 2) & (horse['pain'] == 2)]['resp_rate'].median(), axis=1)

In [161]:
horse.describe()

,surgery,age,rectal_temp,pulse,resp_rate,temp_of_extremities,pain,outcome
count,291.000000,291.000000,239.000000,275.000000,248.000000,243.000000,244.000000,291.000000
mean,1.402062,1.604811,38.166527,71.934545,30.455645,2.345679,2.942623,1.553265
std,0.491159,2.118517,0.733508,28.680522,17.469176,1.046369,1.303993,0.742606
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,25.500000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [130]:
"""в строках, где pain = 5, видно, что значения rectal_temp близки к 38 и pulse примерно 89, temp_of_extremities 5, а resp_rate = 30 заполним в этих колонках значения по медианным"""
horse[horse['pain'] == 5].median()

surgery                 1.0
age                     1.0
rectal_temp            38.0
pulse                  89.0
resp_rate              30.0
temp_of_extremities     3.0
pain                    5.0
outcome                 2.0
dtype: float64

In [166]:
rectal_median = horse[horse['pain'] == 5]['rectal_temp'].median()
pulse_median = horse[horse['pain'] == 5]['pulse'].median()
temp_of_extremities_median = horse[horse['pain'] == 5]['temp_of_extremities'].median()
resp_rate_median = horse[horse['pain'] == 5]['resp_rate'].median()

horse.loc[horse['pain'] == 5, ['rectal_temp']] = horse[['rectal_temp']].fillna(rectal_median, axis=1)
horse.loc[horse['pain'] == 5, ['pulse']] = horse[['pulse']].fillna(pulse_median, axis=1)
horse.loc[horse['pain'] == 5, ['temp_of_extremities']] = horse[['temp_of_extremities']].fillna(temp_of_extremities_median, axis=1)
horse.loc[horse['pain'] == 5, ['resp_rate']] = horse[['resp_rate']].fillna(resp_rate_median, axis=1)

30.0

In [164]:
horse.count()

surgery                291
age                    291
rectal_temp            258
pulse                  282
resp_rate              261
temp_of_extremities    246
pain                   244
outcome                291
dtype: int64

In [168]:
"""Если pulse больше 90, то заметно растет средние rectal_temp и resp_rate, заполним их"""

pulse_90_rectal = horse[horse['pulse'] > 90]['rectal_temp'].median()
pulse_90_resp = horse[horse['pulse'] > 90]['resp_rate'].median()


horse.loc[horse['pulse'] > 90, ['rectal_temp']] = horse[['rectal_temp']].fillna(pulse_90_rectal, axis=1)
horse.loc[horse['pulse'] > 90, ['resp_rate']] = horse[['resp_rate']].fillna(pulse_90_rectal, axis=1)
horse.count()

surgery                291
age                    291
rectal_temp            266
pulse                  282
resp_rate              265
temp_of_extremities    246
pain                   244
outcome                291
dtype: int64

In [173]:
"""оставшееся заполняем модами/медианой"""
horse['pain'].fillna(horse['pain'].mode()[0], inplace=True)
horse['temp_of_extremities'].fillna(horse['temp_of_extremities'].mode()[0], inplace=True)
horse['pulse'].fillna(horse['pulse'].median(), inplace=True)
horse['resp_rate'].fillna(horse['resp_rate'].median(), inplace=True)
horse['rectal_temp'].fillna(horse['rectal_temp'].median(), inplace=True)
horse.describe()

,surgery,age,rectal_temp,pulse,resp_rate,temp_of_extremities,pain,outcome
count,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000
mean,1.402062,1.604811,38.156357,72.099656,30.325086,2.453608,2.951890,1.553265
std,0.491159,2.118517,0.667201,28.038281,16.165575,0.986327,1.193844,0.742606
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.850000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.100000,64.000000,28.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,89.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000